{% extends "auth_base.html" %}
{% load static i18n %}

{% block extra_css %}
{% endblock %}

{% block content %}

<!-- Start Content-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Ubold</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p class="mb-0">This is dashboard</p>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
</div>
<!-- container -->
{% endblock %}

{% block extra_javascript %}
{% endblock %}
