{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo-->
            <div class="text-center w-75 m-auto">
              <a href="/">
                <img src="{% static 'images/logo-dark.png' %}" alt="" height="22" />
              </a>
            </div>

            <div class="text-center m-auto">

              {% if confirmation %}

              {% user_display confirmation.email_address.user as user_display %}

              <p class="text-muted mb-4 mt-4">{% blocktrans with confirmation.email_address.email as email %}Please
                confirm that
                <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}
                .{% endblocktrans %}</p>

              <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
              </form>

              {% else %}
              {% url 'account_email' as email_url %}
              <p class="text-muted mb-4">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please
                <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
              {% endif %}
            </div>
          </div> <!-- end card-body-->

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
