{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">

          <div class="card-body p-4">
            <!-- Logo-->
            <div class="text-center w-75 m-auto">
              <a href="/">
                <img src="{% static 'images/logo-dark.png' %}" alt="" height="22" />
              </a>
              <p class="text-muted mb-4 mt-3">
                {% trans "Don't have an account? Create your account, it takes less than a minute" %}</p>
            </div>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>

          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white-50">
              {% blocktrans %}Already have account?
              <a href="{{ login_url }}" class="text-white ml-1"><b>Log In</b></a>{% endblocktrans %}
            </p>
          </div> <!-- end col-->
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
