// Footer Start
footer.footer
  .container-fluid
    .row
      .col-md-6
        | 2016 - 2019 &copy; Ubold theme by 
        a(href='') Coderthemes
      .col-md-6
        .text-md-right.footer-links.d-none.d-sm-block
          a(href='javascript:void(0);') About Us
          a(href='javascript:void(0);') Help
          a(href='javascript:void(0);') Contact Us
// end Footer
