// Right Sidebar
.right-bar
  .rightbar-title
    a.right-bar-toggle.float-right(href='javascript:void(0);')
      i.fe-x.noti-icon
    h4.m-0.text-white Settings
  .slimscroll-menu
    // User box
    .user-box
      .user-img
        img.rounded-circle.img-fluid(src='images/users/user-1.jpg' alt='user-img' title='Mat Helme')
        a.user-edit(href='javascript:void(0);')
          i.mdi.mdi-pencil
      h5
        a(href='javascript: void(0);') Geneva
      p.text-muted.mb-0
        small Admin Head
  // end slimscroll-menu
// /Right-bar
// Right bar overlay
.rightbar-overlay
