<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation" [ngbCollapse]="!showMobileMenu">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)">
                        <i class="fe-airplay"></i>Dashboards <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a routerLink="/" class="side-nav-link-ref" routerLinkActive="active">Dashboard 1</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/dashboard-2" class="side-nav-link-ref"
                                routerLinkActive="active">Dashboard 2</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/dashboard-3" class="side-nav-link-ref"
                                routerLinkActive="active">Dashboard 3</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/dashboard-4" class="side-nav-link-ref"
                                routerLinkActive="active">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)">
                        <i class="fe-grid"></i>Apps <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">CRM <div class="arrow-down">
                                </div></a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/crm/dashboard" routerLinkActive="active"
                                        class="side-nav-link-ref">Dashboard</a>
                                </li>
                                <li>
                                    <a routerLink="/crm/contacts" routerLinkActive="active"
                                        class="side-nav-link-ref">Contacts</a>
                                </li>
                                <li>
                                    <a routerLink="/crm/opportunities" routerLinkActive="active"
                                        class="side-nav-link-ref">Opportunities</a>
                                </li>
                                <li>
                                    <a routerLink="/crm/leads" routerLinkActive="active"
                                        class="side-nav-link-ref">Leads</a>
                                </li>
                                <li>
                                    <a routerLink="/crm/customers" routerLinkActive="active"
                                        class="side-nav-link-ref">Customers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">eCommerce <div
                                    class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/ecommerce/ecommerce-dashboard" class="side-nav-link-ref"
                                        routerLinkActive="active">Dashboard</a>
                                </li>
                                <li>
                                    <a routerLink="/ecommerce/products" routerLinkActive="active"
                                        class="side-nav-link-ref">Products</a>
                                </li>
                                <li>
                                    <a routerLink="/ecommerce/product-detail" routerLinkActive="active" class="side-nav-link-ref">Product
                                        Detail</a>
                                </li>
                                <li>
                                    <a routerLink="/ecommerce/product-edit" routerLinkActive="active" class="side-nav-link-ref">Product Edit</a>
                                </li>
                                <li>
                                    <a routerLink="/ecommerce/orders" routerLinkActive="active" class="side-nav-link-ref">Orders</a>
                                </li>
                                <li>
                                    <a routerLink="/ecommerce/sellers" routerLinkActive="active" class="side-nav-link-ref">Sellers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">Email <div class="arrow-down">
                                </div></a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/email/inbox" routerLinkActive="active" class="side-nav-link-ref">Inbox</a>
                                </li>
                                <li>
                                    <a routerLink="/email/read" routerLinkActive="active" class="side-nav-link-ref">Read
                                        Email</a>
                                </li>
                                <li>
                                    <a routerLink="/email/compose" routerLinkActive="active" class="side-nav-link-ref">Compose
                                        Email</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/apps/kanbanboard" routerLinkActive="active" class="side-nav-link-ref">Kanban
                                Board</a>
                        </li>
                        <li>
                            <a routerLink="/apps/calendar" routerLinkActive="active" class="side-nav-link-ref">Calendar</a>
                        </li>
                        <li>
                            <a routerLink="/apps/contacts" routerLinkActive="active" class="side-nav-link-ref">Contacts</a>
                        </li>
                        <li>
                            <a routerLink="/apps/projects" routerLinkActive="active" class="side-nav-link-ref">Projects</a>
                        </li>
                        <li>
                            <a routerLink="/apps/tickets" routerLinkActive="active" class="side-nav-link-ref">Tickets</a>
                        </li>
                        <li>
                            <a routerLink="/apps/companies" routerLinkActive="active" class="side-nav-link-ref">Companies</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)"> <i class="fe-briefcase"></i>Elements
                        <div class="arrow-down"></div></a>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li>
                                    <a routerLink="/ui/buttons" routerLinkActive="active"
                                        class="side-nav-link-ref">Buttons</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/cards" routerLinkActive="active"
                                        class="side-nav-link-ref">Cards</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/portlets" routerLinkActive="active"
                                        class="side-nav-link-ref">Portlets</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/tabs-accordions" routerLinkActive="active"
                                        class="side-nav-link-ref">Tabs &
                                        Accordions</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/modals" routerLinkActive="active"
                                        class="side-nav-link-ref">Modals</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/progress" routerLinkActive="active"
                                        class="side-nav-link-ref">Progress</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a routerLink="/ui/notifications" routerLinkActive="active"
                                        class="side-nav-link-ref">Notifications</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/images" routerLinkActive="active"
                                        class="side-nav-link-ref">Images</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/carousel" routerLinkActive="active"
                                        class="side-nav-link-ref">Carousel</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/video" routerLinkActive="active" class="side-nav-link-ref">Embed
                                        Video</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/dropdowns" routerLinkActive="active"
                                        class="side-nav-link-ref">Dropdowns</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/spinners" routerLinkActive="active"
                                        class="side-nav-link-ref">Spinners</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a routerLink="/ui/ribbons" routerLinkActive="active"
                                        class="side-nav-link-ref">Ribbons</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/tooltips-popovers" routerLinkActive="active"
                                        class="side-nav-link-ref">Tooltips & Popovers</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/ui-general" routerLinkActive="active"
                                        class="side-nav-link-ref">General
                                        UI</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/typography" routerLinkActive="active"
                                        class="side-nav-link-ref">Typography</a>
                                </li>
                                <li>
                                    <a routerLink="/ui/grid" routerLinkActive="active"
                                        class="side-nav-link-ref">Grid</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)"> <i class="fe-cpu"></i>Admin UI <div
                            class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a routerLink="/adminUI/widgets" routerLinkActive="active"
                                class="side-nav-link-ref">Widgets</a>
                        </li>
                        <li>
                            <a routerLink="/adminUI/range-slider" routerLinkActive="active"
                                class="side-nav-link-ref">Range
                                Slider</a>
                        </li>
                        <li>
                            <a routerLink="/adminUI/animation" routerLinkActive="active"
                                class="side-nav-link-ref">Animation</a>
                        </li>
                        <li>
                            <a routerLink="/adminUI/sweet-alert" routerLinkActive="active"
                                class="side-nav-link-ref">Sweet
                                Alert</a>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)">
                        <i class="fe-layers"></i>Components <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">Forms <div class="arrow-down">
                                </div></a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/form/elements" routerLinkActive="active"
                                        class="side-nav-link-ref">General
                                        Elements</a>
                                </li>
                                <li>
                                    <a routerLink="/form/advanced" routerLinkActive="active"
                                        class="side-nav-link-ref">Advanced</a>
                                </li>
                                <li>
                                    <a routerLink="/form/validation" routerLinkActive="active"
                                        class="side-nav-link-ref">Validation</a>
                                </li>
                                <li>
                                    <a routerLink="/form/wizard" routerLinkActive="active"
                                        class="side-nav-link-ref">Wizard</a>
                                </li>
                                <li>
                                    <a routerLink="/form/summernote" routerLinkActive="active"
                                        class="side-nav-link-ref">Summernote</a>
                                </li>
                                <li>
                                    <a routerLink="/form/uploads" routerLinkActive="active"
                                        class="side-nav-link-ref">File
                                        Uploads</a>
                                </li>
                                <li>
                                    <a routerLink="/form/image-crop" routerLinkActive="active"
                                        class="side-nav-link-ref">Image
                                        Crop</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">Tables <div class="arrow-down">
                                </div></a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/tables/basic" routerLinkActive="active"
                                        class="side-nav-link-ref">Basic
                                        Tables</a>
                                </li>
                                <li>
                                    <a routerLink="/tables/advanced" routerLinkActive="active"
                                        class="side-nav-link-ref">Advanced
                                        Table</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">Charts <div class="arrow-down">
                                </div></a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/chart/apex" routerLinkActive="active" class="side-nav-link-ref">Apex
                                        Charts</a>
                                </li>
                                <li>
                                    <a routerLink="/chart/chartjs" routerLinkActive="active"
                                        class="side-nav-link-ref">Chartjs
                                        Charts</a>
                                </li>
                                <li>
                                    <a routerLink="/chart/chartist" routerLinkActive="active"
                                        class="side-nav-link-ref">Chartist
                                        Charts</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">Icons <div class="arrow-down">
                                </div></a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/icons/feather" routerLinkActive="active"
                                        class="side-nav-link-ref">Feather
                                        Icons</a>
                                </li>
                                <li>
                                    <a routerLink="/icons/material" routerLinkActive="active"
                                        class="side-nav-link-ref">Material
                                        Design Icons</a>
                                </li>
                                <li>
                                    <a routerLink="/icons/dripicons" routerLinkActive="active"
                                        class="side-nav-link-ref">Dripicons</a>
                                </li>
                                <li>
                                    <a routerLink="/icons/fontawesome" routerLinkActive="active"
                                        class="side-nav-link-ref">Font
                                        Awesome</a>
                                </li>
                                <li>
                                    <a routerLink="/icons/themify" routerLinkActive="active"
                                        class="side-nav-link-ref">Themify</a>
                                </li>
                                <li>
                                    <a routerLink="/icons/simpleline" routerLinkActive="active"
                                        class="side-nav-link-ref">Simple
                                        Line</a>
                                </li>
                                <li>
                                    <a routerLink="/icons/weather" routerLinkActive="active"
                                        class="side-nav-link-ref">Weather</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">Maps <div class="arrow-down">
                                </div></a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/maps/google" routerLinkActive="active"
                                        class="side-nav-link-ref">Google Maps</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)"> <i class="fe-package"></i>Pages <div
                            class="arrow-down"></div></a>

                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li>
                                    <a routerLink="/extras/error-404" routerLinkActive="active"
                                        class="side-nav-link-ref">Error 404</a>
                                </li>
                                <li>
                                    <a routerLink="/extras/error-500" routerLinkActive="active"
                                        class="side-nav-link-ref">Error 500</a>
                                </li>
                                <li>
                                    <a routerLink="/extras/profile" routerLinkActive="active"
                                        class="side-nav-link-ref">Profile</a>
                                </li>
                                <li>
                                    <a routerLink="/extras/timeline" routerLinkActive="active"
                                        class="side-nav-link-ref">Timeline</a>
                                </li>
                                <li>
                                    <a routerLink="/extras/sitemap" routerLinkActive="active"
                                        class="side-nav-link-ref">Sitemap</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a routerLink="/extras/invoice" routerLinkActive="active"
                                        class="side-nav-link-ref">Invoice</a>
                                </li>
                                <li>
                                    <a routerLink="/extras/faqs" routerLinkActive="active"
                                        class="side-nav-link-ref">FAQs</a>
                                </li>
                                <li>
                                    <a routerLink="/extras/pricing" routerLinkActive="active"
                                        class="side-nav-link-ref">Pricing</a>
                                </li>
                                <li>
                                    <a routerLink="/extras/gallery" routerLinkActive="active"
                                        class="side-nav-link-ref">Gallery</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)"> <i class="fe-sidebar"></i>Layouts <div
                            class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a (click)="darkTopbar()" href="javascript: void(0);" routerLinkActive="active" class="side-nav-link-ref">Topbar
                                Dark</a>
                        </li>
                        <li>
                            <a (click)="lightMenubar()" href="javascript: void(0);" routerLinkActive="active" class="side-nav-link-ref">Menubar
                                Light</a>
                        </li>
                        <li>
                            <a (click)="centerMenu()" href="javascript: void(0);" routerLinkActive="active" class="side-nav-link-ref">Center
                                Menu</a>
                        </li>
                        <li>
                            <a (click)="gradientTopbar()" href="javascript: void(0);" routerLinkActive="active" class="side-nav-link-ref">Gradient
                                Topbar</a>
                        </li>
                        <li>
                            <a (click)="dropmenuDark()" href="javascript: void(0);" routerLinkActive="active" class="side-nav-link-ref">Menu Drop
                                Dark</a>
                        </li>
                        <li>
                            <a (click)="unstickyHeader()" href="javascript: void(0);" routerLinkActive="active" class="side-nav-link-ref">Unsticky
                                Header</a>
                        </li>
                        <li>
                            <a (click)="boxedLayout()" href="javascript: void(0);" routerLinkActive="active" class="side-nav-link-ref">Boxed</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->