extends ../non-auth

block headerText
  p.text-muted.mb-4.mt-3
    = "Enter new password"

block content
  
  form(method='POST', 'novalidate')
    input(type='hidden', name='_csrf', value=_csrf)

    .form-group.mb-3
      label(for='password') New Password
      input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, autocomplete='new-password', required)

    .form-group.mb-3
      label(for='confirm') Confirm Password
      input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', autocomplete='new-password', required)

    .form-group.mb-0.text-center
      button.btn.btn-primary.btn-block(type='submit')
        = 'Submit'

block footerLinks    
  .row.mt-3
    .col-12.text-center
      p.text-white-50
        = "Back to"
        a.text-white.ml-1(href='/login') 
          strong Login