extends layout

block content
  // Start Content
  .container-fluid
    // start page title
    .row
      .col-12
        .page-title-box
          .page-title-right
            ol.breadcrumb.m-0
              li.breadcrumb-item
                a(href='javascript: void(0);') Ubold
              li.breadcrumb-item.active Dashboard
          h4.page-title Welcome !
    // end page title
    .row
      .col-xl-12
        .card-box
          p.mb-0 This is dashboard page
      // end col
